:root {
   --color-primary: #e03131;
   --color-primary-hover: #c92a2a;

   --color-grey: #212529;
   --color-lightgrey: #f1f3f5;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
   overflow-x: hidden;
}

body {
   font-family: 'Montserrat', sans-serif;
   background-color: var(--color-grey);
   color: #fff;
   position: relative;
   overflow-x: hidden;
   height: 100vh;
}

ul {
   list-style: none;
}

a:link,
a,
:visited {
   text-decoration: none;
}

button {
   background: none;
   border: none;
   cursor: pointer;
}

.container {
   padding: 0 2.4rem;
}

/**************************/
/* NAV */
/**************************/
.nav {
   background-color: var(--color-primary);
   padding: 1.2rem 2.4rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logo {
   width: 4.8rem;
}

.logo__img {
   width: 100%;
}

.nav__list {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 4.8rem;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100dvh;
   background-color: rgba(0, 0, 0, 0.7);
   backdrop-filter: blur(10px);
   transform: translateX(100%);
   opacity: 0;
   transition: all 0.3s ease-in;
   z-index: 9;
}

.nav__list.open {
   transform: translateX(0);
   opacity: 1;
}

.nav__list-link:link,
.nav__list-link:visited {
   color: #fff;
   font-size: 2.4rem;
   font-weight: 600;
   padding: 1.2rem 2.4rem;
}

.nav__list-link:hover,
.nav__list-link:active {
   background-color: var(--color-primary-hover);
}

.nav__btn {
   height: 3.2rem;
   width: 3.2rem;
   z-index: 99;
}

.nav__btn ion-icon {
   width: 100%;
   height: 100%;
   color: #fff;
}

/**************************/
/* PLAN DAY PICKER */
/**************************/
.plan-day-picker {
   height: calc(100vh - 75px);
   display: flex;
   justify-content: center;
   align-items: center;
}

.plan-day-picker__list {
   padding: 3rem 0;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: stretch;
   gap: 2.4rem;
}

.plan-day-picker__list-button {
   font-size: 2.8rem;
   color: #fff;
   background-color: var(--color-primary);
   width: 100%;
   padding: 1.2rem 0;
}

/**************************/
/* TRACKER */
/**************************/
.tracker-section {
   margin-top: 2.4rem;
}

.tracker-body {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 3.2rem;
   padding-top: 1.6rem;
}

.tracker__btns-exercise-options {
   position: relative;
   height: 4rem;
   display: flex;
   justify-content: end;
   gap: 0.8rem;
}

.tracker__exercise {
   display: flex;
   flex-direction: column;
   gap: 0.8rem;
}

.tracker__btn--exercise-menu {
   background-color: var(--color-primary);
   color: #fff;
   font-size: 1.6rem;
   font-weight: 600;
   padding: 0.8rem 1.6rem;
}

.variations-menu {
   position: absolute;
   top: 4.8rem;
   right: 0;
   display: none;
}

.tracker__btn--variations:hover {
   background-color: var(--color-primary-hover);
}

.tracker__btn--variations:hover + .variations-menu {
   display: block;
   background-color: var(--color-primary);
   padding: 0.4rem 0.8rem;
}

.variations-option {
   color: #fff;
   font-size: 1.6rem;
   font-weight: 600;
   padding: 0.8rem 0;
}

.tracker__exercise-title {
   font-size: 2rem;
   line-height: 1.5;
}

.tracker__exercise-details {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 0.8rem;
}

.grid-label {
   font-size: 1.4rem;
}

.tracker__exercise input,
.tracker__notes {
   width: 100%;
   background-color: var(--color-lightgrey);
   border: none;
   font-size: 2rem;
   padding: 0.2rem 0.4rem;
}

.tracker__btn--next-set {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: var(--color-primary);
   width: 2.8rem;
   height: 2.8rem;
   border-radius: 50%;
   margin: 0.8rem 0;
}

.tracker__btn--next-set ion-icon {
   color: #fff;
   width: 75%;
   height: 75%;
}

.tracker__btn--next-exercise,
.tracker__btn--submit {
   background-color: var(--color-primary);
   color: #fff;
   width: 100%;
   font-size: 1.6rem;
   font-weight: 600;
   padding: 0.8rem 1.6rem;
   margin: 0.8rem 0;
}

.tracker__notes {
   height: 8rem;
   margin-top: 1.6rem;
}

/**************************/
/* Workout details */
/**************************/
.workout-details {
   padding-top: 4.8rem;
}

.workout-details__title {
   font-size: 3rem;
   margin-bottom: 2.4rem;
}

.workout-details__type {
   font-size: 2.4rem;
   margin-bottom: 1.2rem;
}

.workout-details__time {
   font-size: 1.8rem;
   margin-bottom: 1.2rem;
}

.workout-details__table {
   border-collapse: collapse;
}

.workout-details__table th,
.workout-details__table td {
   padding: 0.5rem 1rem;
}

.workout-details__table th {
   background-color: var(--color-primary);
   text-align: left;
}

/**************************/
/* General */
/**************************/
.message {
   font-size: 4.8rem;
   height: calc(100vh - 75px);
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
}

/**************************/
/* Utils */
/**************************/
.hidden {
   opacity: 0;
   pointer-events: none;
   visibility: hidden;
}

.no-display {
   display: none;
}

.sr-only {
   position: absolute;
   width: 1px;
   height: 1px;
   padding: 0;
   margin: -1px;
   overflow: hidden;
   clip: rect(0, 0, 0, 0);
   border: 0;
}
